<html>
  <nav class="navbar navbar-light" style="margin-right: 60%; opacity: .9; margin-bottom: 0%;">
    <form class="form-inline">
        <a class="btn btn-outline-dark bg-dark" routerLink="/admin/home" style="font-size:larger; color:#ffffff; border-radius: 15%; margin: 5px;">Volver<span class="sr-only">(current)</span></a>
        <button class="btn btn-outline-dark bg-dark" style="font-size:larger; color:#ffffff; border-radius: 15%; margin: 5px;" type="button" (click)=mostrarMaterias()>Materias</button>
        <button class="btn btn-outline-dark bg-dark" style="font-size: larger; color:#ffffff; border-radius: 15%;"  type="button" (click)=mostrarCorr()>Correlativas</button>
      </form>
  </nav>
    <div class="container" style="text-align: center; color: cornsilk;">
        <h1>ABM MATERIAS</h1>
    </div>
    <div class="container" *ngIf="alert" id="aviso" style="text-align: center; align-items: center; width: 25%;">
      <div class="alert alert-success alert-dismissible" style="text-align: center; align-items: center;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{mensaje}} </strong>
      </div>
    </div>

    <br>
    <div *ngIf="flagMaterias" class="row">
    <div class="col-xl-8 col-lg-12" style="color:white">
      <label style="font-size: large;">Filtro por nombre de materia:</label>
      <input style="margin-left: 1%; margin-bottom: 1%;" type="text" name="filterPost" [(ngModel)]="filterPost" autofocus>
      <br>
        <table class="table table-dark table-hover">
            <thead>
                <th>ID</th>
                <th>Materia</th>
                <th>Año</th>
                <th>Tipo</th>
                <th>Correlativa</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </thead>
            <tbody *ngIf="materias.length > 0; else fila">
                <tr *ngFor=" let mat of materias | materiasFilter:filterPost">
                    <td><input type="number" name="idMat" [(ngModel)]="mat.idMat" class=" form-control" disabled></td>
                    <td><input type="text" name="nombreMat" [(ngModel)]="mat.nombreMat" class=" form-control"></td>
                    <td><input type="text" name="anio" [(ngModel)]="mat.anio" class="form-control" autofocus required>
                    </td>
                    <td><input type="text" name="tipo" [(ngModel)]="mat.tipo" class="form-control" required></td>
                    <td><input type="text" name="flagCorre" [(ngModel)]="mat.flagCorre" class=" form-control">
                    </td>
                    <td><button class="btn btn-info" (click)=modificarMateria(mat)>Modificar</button></td>
                    <td><a class="btn btn-danger" (click)=eliminarMateria(mat)>Eliminar</a></td>
                </tr>
            </tbody>
            <ng-template #fila>
                <tbody>
                    <tr>
                        <td colspan="4">No hay mas filas</td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>

    <div class="col-xl-4 col-lg-12" style="margin-top: 3%;">
    <form (submit)="agregarMateria()">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>ID</label>
            <input type="text" class="form-control" name="idMat" placeholder="Ej: 5XXX" [(ngModel)]="mat.idMat" (focus)="limpiarID()" required>
            <div [ngSwitch]="errorID">
              <div *ngSwitchCase="1">Debes completar el campo</div>
              <div *ngSwitchCase="2">Codigo de materia muy largo, maximo 6 numeros</div>
              <div *ngSwitchCase="3">El ID de la materia debe ser un numero.</div>
          </div>
          </div>
          <div class="col-md-6 mb-3">
            <label>Materia</label>
            <input type="text" class="form-control" name="nombreMat" placeholder="Ej: Base de Datos" [(ngModel)]="mat.nombreMat" (focus)="limpiarNombre()" required>
            <div [ngSwitch]="errorNombre">
              <div *ngSwitchCase="1">Debes completar el campo</div>
              <div *ngSwitchCase="2">Nombre muy largo</div>
              <div *ngSwitchCase="3">No debe haber mas de un espacio entre palabras</div>
          </div>
          </div>
        </div>
      
        <div class="form-row">
          
          <div class="col-md-6 mb-3">
            <label>AÑO</label>
            <select type="text" class="custom-select mr-sm-2" name="anio" [(ngModel)]="mat.anio" (focus)="limpiarAnio()">
              <option value=1>Primer año</option>
              <option value=2>Segundo año</option>
              <option value=3>Tercer año</option>
            </select>  
            <div [ngSwitch]="errorAnio">
              <div *ngSwitchCase="1">Seleccione una opción</div>              
              <div *ngSwitchCase="2">Error inesperado. Si el error persiste recargue la pagina</div>
          </div>        
          </div>
          <div class="col-md-6 mb-3">
            <label>TIPO</label>
            <select type="text" class="custom-select mr-sm-2" name="tipo" [(ngModel)]="mat.tipo" (focus)="limpiarTipo()">
              <option value="Cuatrimestral">Cuatrimestral</option>
              <option value="Anual">Anual</option>
            </select>
            <div [ngSwitch]="errorTipo">
              <div *ngSwitchCase="1">Seleccione una opción</div>
              <div *ngSwitchCase="2">Error inesperado. Si el error persiste recargue la pagina</div>
          </div>
          </div>
          
        </div>
        <button class="btn btn-success" type="submit" (click)="verificarForm()">Agregar Materia</button>
        <button class="btn btn-dark" style="margin-left: 2%;" (click)="limpiarTodo()">Limpiar campos</button>
      </form>

    


    </div>
    </div>

    <div *ngIf="!flagMaterias" class="row" style="text-align: center; color: cornsilk;">
      <div *ngIf="!flagCorre" class="container table-responsive" style="height: 1000px;">
      <table class="table table-dark table-hover">
        <thead>
            <th>ID</th>
            <th>Materia</th>
            <th>Año</th>
            <th>Tipo</th>
            <th>Correlativa</th>
        </thead>
        <tbody *ngIf="materias.length > 0; else fila">
            <tr *ngFor=" let mat of materias | materiasFilter:filterPost">
                <td><input type="number" name="idMat" [(ngModel)]="mat.idMat" class=" form-control" disabled></td>
                <td><input type="text" name="nombreMat" [(ngModel)]="mat.nombreMat" class=" form-control"></td>
                <td><input type="text" name="anio" [(ngModel)]="mat.anio" class="form-control" autofocus required>
                </td>
                <td><input type="text" name="tipo" [(ngModel)]="mat.tipo" class="form-control" required></td>
                <td><input type="text" name="flagCorre" [(ngModel)]="mat.flagCorre" class=" form-control">
                </td>
                <td><button class="btn btn-info" (click)=traerCorrelativas(mat)>Seleccionar</button></td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="4">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    </div>

    <div *ngIf="flagCorre" style="text-align: center; color: cornsilk; margin-left: 5%; margin-right: 5%; width: 90%;">
      <h1>MATERIA: {{matSeleccionadaNombre}}</h1>
      <div class="row" style="margin-top:3%">
      <div class="table-responsive col-md-6">
        <h1>ASIGNADAS</h1>
       <table class="table table-dark table-hover">
        <thead>
            <th>ID</th>
            <th>Materia</th>
        </thead>
        <tbody *ngIf="asignadas.length > 0; else filaAsignadas">
            <tr *ngFor=" let asign of asignadas">
                <td><input type="number" name="idMat" [(ngModel)]="asign.idMat" class=" form-control" disabled></td>
                <td><input type="text" name="nombreMat" [(ngModel)]="asign.nombreMat" class=" form-control"></td>
                <td><button class="btn btn-danger" (click)=noAsignar(asign)>Desasignar</button></td>
            </tr>
        </tbody>
        <ng-template #filaAsignadas>
            <tbody>
                <tr>
                    <td colspan="4">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
  </div>
  <div class="table-responsive col-md-6">
    <h1>NO ASIGNADAS</h1>
    <table class="table table-dark table-hover" >
      <thead>
          <th>ID</th>
          <th>Materia</th>
      </thead>
      <tbody *ngIf="noAsignadas.length > 0; else filaNoAsignadas">
          <tr *ngFor=" let noAsign of noAsignadas">
              <td><input type="number" name="idMat" [(ngModel)]="noAsign.idMat" class=" form-control" disabled></td>
              <td><input type="text" name="nombreMat" [(ngModel)]="noAsign.nombreMat" class=" form-control"></td>
              <td><button class="btn btn-success" (click)=asignar(noAsign)>Asignar</button></td>
          </tr>
      </tbody>
      <ng-template #filaNoAsignadas>
          <tbody>
              <tr>
                  <td colspan="4">No hay mas filas</td>
              </tr>
          </tbody>
      </ng-template>
  </table>
</div>
    </div>
    <div class="container" style="text-align: center; width: 100%;">
      <button class="btn btn-danger"style="margin:2%" (click)="cancelar()">Cancelar selección</button>
      <button class="btn btn-success" style="margin:2%;" (click)="agregarCorrelativa()">Confirmar cambios</button>
     
      </div>
  </div>
</div>
  
<br>

<div style="left:auto"> <br>
  <a class="btn btn-dark" routerLink="/admin/home">Volver<span class="sr-only">(current)</span></a>
</div>
<br>
</html>