<html>
  <form class="container" (submit)="ModAgr()" style="font:bolder; color: brown;">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
              <label id="modal">Nombres</label>
              <input type="text" class="form-control" name="nombres" placeholder="Ej: Matias Marcos" [(ngModel)]="use.nombres"
                (focus)="limpiarNombre()" required>
              <div [ngSwitch]="errorNombre">
                <div *ngSwitchCase="1">Debes completar el campo</div>
                <div *ngSwitchCase="2">Nombre demasiado largo</div>
                <div *ngSwitchCase="3">Nombre debe ser alfabetico y solo admite un espacio entre nombres</div>
              </div>
              <label  id="modal">Apellidos</label>
              <input type="text" class="form-control" name="apellidos" placeholder="Ej: Rivero Quispe"
                [(ngModel)]="use.apellidos" (focus)="limpiarApellido()" required>
              <div [ngSwitch]="errorApellido">
                <div *ngSwitchCase="1">Debes completar el campo</div>
                <div *ngSwitchCase="2">Apellido demasiado largo</div>
                <div *ngSwitchCase="3">Apellido debe ser alfabetico y solo admite 1 espacio entre apellidos</div>
              </div>
              <label  id="modal">DNI</label>
              <input type="text" class="form-control" placeholder="Ej:400xxx32" name="dni" [(ngModel)]="use.dni"
                (focus)="limpiarDNI()" required>
              <div [ngSwitch]="errorDNI">
                <div *ngSwitchCase="1">Debes completar el campo</div>
                <div *ngSwitchCase="2">DNI muy largo</div>
                <div *ngSwitchCase="3">DNI debe ser numerico</div>
              </div>
              <label  id="modal">Mail</label>
              <input type="text" class="form-control" placeholder="Ej roberto@ifts11.com" name="mail" [(ngModel)]="use.mail"
                (focus)="limpiarEmail()" required>
              <div [ngSwitch]="errorEmail">
                <div *ngSwitchCase="1">Debes completar el campo</div>
                <div *ngSwitchCase="2">Email muy largo</div>
                <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
              </div>
              <label  id="modal">Rol</label>
              <select type="text" class="custom-select mr-sm-2" name="rol" [(ngModel)]="use.rol" (focus)="limpiarRol()">
                <option value="1">Admin</option>
                <option value="2">Alumno</option>
              </select>
              <div [ngSwitch]="errorRol">
                <div *ngSwitchCase="1">Seleccione una opción</div>
                <div *ngSwitchCase="2">Error inesperado. Seleccione una opción dentro de las validas, si el error persiste
                  recargue la pagina</div>
              </div>
            <!--  El password local no se utiliza pero lo dejamos por si hace falta migrar el login de manera local 100x100.
              <div class="col-md-3 mb-3">
                <label>Password (opcional)</label>
                <input type="text" class="form-control" name="password" placeholder="Ej: hola123" [(ngModel)]="use.password"
                  required>
              </div>
              -->
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarForm()">Close</button>
          <button *ngIf="!seleccion" class="btn btn-dark"  (click)="limpiarTodo()">Limpiar campos</button>
          <button *ngIf="seleccion" class="btn btn-success" type="submit" (click)="verificarForm()">Modificar Usuario</button>
          <button *ngIf="!seleccion" class="btn btn-success" type="submit" (click)="verificarForm()">Agregar Usuario</button>

        </div>
      </div>
    </div>
  </div>
</form>


<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
        <a class="btn btn-outline-dark bg-dark" routerLink="/admin/home" style="font-size:larger; color:#ffffff; border-radius: 15%;">Volver<span class="sr-only">(current)</span></a>
      </form> 
      <form class="form-inline">
        <a class="btn btn-outline-danger bg-danger" style="color: white;" (click)="logOut()">LogOut<span class="sr-only">(current)</span></a>
      </form>    
  </nav>
  <br>
<div class="container" style="text-align: center; color: white;">
  <h1>ABM USUARIOS</h1>
</div>

 

<div class="container" *ngIf="alert" id="aviso" style="text-align: center; align-items: center; width: 25%;">
  <div class="alert alert-success alert-dismissible" style="text-align: center; align-items: center;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{mensaje}} </strong>
  </div>
</div>

<div class="center" style="text-align: center;">
  <nav class="navbar navbar-light  justify-content-between">
    <button type="button" style="margin-right: 3%;" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Agregar Usuario</button>
    <input placeholder="Filtro por DNI" type="text" name="filterPost" [(ngModel)]="filterPost" autofocus>
    
  </nav>

  <table class="table table-dark table-hover" style="text-align: center; font-size: large;">
    <thead>
      <th>DNI</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <!-- El password local no se utiliza pero lo dejamos por si hace falta migrar el login de manera local 100x100.
      <th>Password</th>
      -->
      <th>Mail</th>
      <th>Rol</th>
      <th>Activo</th>
      <th>Estado</th>
      <th>Modificar</th>
      <th>Eliminar</th>
    </thead>
    <tbody *ngIf="usuarios.length > 0; else fila">
      <tr *ngFor=" let user of usuarios | usuariosFilter:filterPost">
        
        <!-- El password local no se utiliza pero lo dejamos por si hace falta migrar el login de manera local 100x100.
          <td><input type="text" name="password" [(ngModel)]="user.password" class="form-control" autofocus required></td>
          -->
        <td>{{user.dni}}</td>
        <td>{{user.nombres}}</td>
        <td>{{user.apellidos}}</td>
        <td>{{user.mail}}</td>
        <td [ngSwitch]="user.rol">
          <div *ngSwitchCase="1">Admin</div>
          <div *ngSwitchCase="2">Alumno</div>
        </td>
  
        <td *ngIf="user.estado== 1"><svg xmlns="http://www.w3.org/2000/svg" style="align-items: center;" width="32" height="32" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        </td>
        <td *ngIf="user.estado== 0"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
        </td>
        <td [ngSwitch]="user.estado">
          <a class="btn btn-success" *ngSwitchCase="0" (click)=activarUsuario(user) style="width: 100%;">Activar</a>
          <a class="btn btn-danger" *ngSwitchCase="1" (click)=desactivarUsuario(user) style="width: 100% ;">Desactivar</a>
          </td>
        <td><button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)=CargarModificar(user)>Modificar</button></td>
        <td><a class="btn btn-danger" (click)=eliminarUsuario(user)>Eliminar</a></td>
       
      </tr>
    </tbody>
    <ng-template #fila>
      <tbody>
        <tr>
          <td colspan="4">No hay mas filas</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
<div style="float: right;">
  <button  class="btn btn-success" style="align-content:right; margin-right: 0%;">Activar Todos</button>

</div>

</div>

<!--<form class="container" (submit)="agregarAlumno()" style="font:bolder; color: brown;">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>Nombres</label>
      <input type="text" class="form-control" name="nombres" placeholder="Ej: Matias Marcos" [(ngModel)]="use.nombres"
        (focus)="limpiarNombre()" required>
      <div [ngSwitch]="errorNombre">
        <div *ngSwitchCase="1">Debes completar el campo</div>
        <div *ngSwitchCase="2">Nombre demasiado largo</div>
        <div *ngSwitchCase="3">Nombre debe ser alfabetico y solo admite un espacio entre nombres</div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label>Apellidos</label>
      <input type="text" class="form-control" name="apellidos" placeholder="Ej: Rivero Quispe"
        [(ngModel)]="use.apellidos" (focus)="limpiarApellido()" required>
      <div [ngSwitch]="errorApellido">
        <div *ngSwitchCase="1">Debes completar el campo</div>
        <div *ngSwitchCase="2">Apellido demasiado largo</div>
        <div *ngSwitchCase="2">Apellido debe ser alfabetico y solo admite 1 espacio entre apellidos</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label>DNI</label>
      <input type="text" class="form-control" placeholder="Ej:400xxx32" name="dni" [(ngModel)]="use.dni"
        (focus)="limpiarDNI()" required>
      <div [ngSwitch]="errorDNI">
        <div *ngSwitchCase="1">Debes completar el campo</div>
        <div *ngSwitchCase="2">DNI muy largo</div>
        <div *ngSwitchCase="3">DNI debe ser numerico</div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label>Mail</label>
      <input type="text" class="form-control" placeholder="Ej roberto@ifts11.com" name="mail" [(ngModel)]="use.mail"
        (focus)="limpiarEmail()" required>
      <div [ngSwitch]="errorEmail">
        <div *ngSwitchCase="1">Debes completar el campo</div>
        <div *ngSwitchCase="2">Email muy largo</div>
        <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label>Rol</label>
      <select type="text" class="custom-select mr-sm-2" name="rol" [(ngModel)]="use.rol" (focus)="limpiarRol()">
        <option value="1">Admin</option>
        <option value="2">Alumno</option>
      </select>
      <div [ngSwitch]="errorRol">
        <div *ngSwitchCase="1">Seleccione una opción</div>
        <div *ngSwitchCase="2">Error inesperado. Seleccione una opción dentro de las validas, si el error persiste
          recargue la pagina</div>
      </div>
    </div>
     El password local no se utiliza pero lo dejamos por si hace falta migrar el login de manera local 100x100.
      <div class="col-md-3 mb-3">
        <label>Password (opcional)</label>
        <input type="text" class="form-control" name="password" placeholder="Ej: hola123" [(ngModel)]="use.password"
          required>
      </div>
      
  </div>
  <button class="btn btn-success" type="submit" (click)="verificarForm()">Agregar Alumno</button>
  <button class="btn btn-dark" style="margin-left: 2%;" (click)="limpiarTodo()">Limpiar campos</button>
</form>
-->
<div style="left:auto"> <br>
  <a class="btn btn-dark" routerLink="/admin/home">Volver<span class="sr-only">(current)</span></a>
</div>

</html>