
<html>
<div class="container p-4">
    <div class="row" style="margin-top: 10%;">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div  class="card-body">
                    <form (submit)="registrar()">
                        <div class="form-group">
                         
                            <label style="color: rgb(119, 102, 102)">DNI</label>
                            <input type="text" class="form-control"  name="dni" [(ngModel)]="user.dni"
                            disabled>
                            <label style="color: black; margin-top: 3%;">Nombres</label>
                            <input type="text" class="form-control" name="nombres" placeholder="Nombres" [(ngModel)]="user.nombres"
                            (focus)="limpiarNombre()" required>
                          <div [ngSwitch]="errorNombre">
                            <div *ngSwitchCase="1">Debes completar el campo</div>
                            <div *ngSwitchCase="2">Nombre demasiado largo</div>
                            <div *ngSwitchCase="3">Nombre debe ser alfabetico y solo admite un espacio entre nombres</div>
                          </div>
                          <label style="color: black; margin-top: 3%;">Apellidos</label>
                          <input type="text" class="form-control" name="apellidos" placeholder="Apellidos"
                            [(ngModel)]="user.apellidos" (focus)="limpiarApellido()" required>
                          <div [ngSwitch]="errorApellido">
                            <div *ngSwitchCase="1">Debes completar el campo</div>
                            <div *ngSwitchCase="2">Apellido demasiado largo</div>
                            <div *ngSwitchCase="2">Apellido debe ser alfabetico y solo admite 1 espacio entre apellidos</div>
                          </div>
                          <label style="color: black; margin-top: 3%;">Sexo</label>
                          <select type="text" class="custom-select mr-sm-2" name="sexo" [(ngModel)]="user.sexo" (focus)="limpiarSexo()">
                            <option value="1">Femenino</option>
                            <option value="2">Masculino</option>
                          </select>
                          <div [ngSwitch]="errorSexo">
                            <div *ngSwitchCase="1">Seleccione una opción</div>
                            <div *ngSwitchCase="2">Error inesperado. Seleccione una opción dentro de las validas, si el error persiste
                              recargue la pagina</div>
                          </div>
                          <label style="color: black; margin-top: 3%;">Email</label>
                          <input type="text" class="form-control" placeholder="Email Ej roberto@ifts11.com" name="mail" [(ngModel)]="user.mail"
                            (focus)="limpiarEmail()" required>
                          <div [ngSwitch]="errorEmail">
                            <div *ngSwitchCase="1">Debes completar el campo</div>
                            <div *ngSwitchCase="2">Email muy largo</div>
                            <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
                          </div>
                          <label style="color: black; margin-top: 3%;">Fecha de nacimiento</label>
                          <input type="date"  class="form-control" placeholder="Fecha de nacimiento" name="fechaNac">


                          <button type="submit" class="btn btn-success btn-block" style="margin-top: 8%;" (click)="verificarForm()">Enviar</button>
                        </div>

                       
                        
                  
                    </form>
                    </div>                  
            </div>
        </div>
    </div>
</div>
</html>
