
h1{
    
  font-size: calc(0.5rem + 2vw);
  font-variant: normal;

    
  @media (min-width: 1200px) {
    .title {
      font-size: 4rem;
    }
  }
}

.btn{
border-radius: 12px;
width:calc(100%);

}


#derecha.col-lg-6{
text-align: right;

}

#izquierda.col-lg-6{
text-align: left;

}
a.disabled {
  pointer-events: none;
  cursor: default;
}

a{
  width: calc(200px*0.5rem);
  height: calc(200px*0.5rem);

}