<html>
    
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        </form> 
        <form class="form-inline">
          <a class="btn btn-outline-danger bg-danger" style="color: white;" (click)="logOut()">LogOut<span class="sr-only">(current)</span></a>
        </form>    
    </nav>
<div class="container" style="width: 40%; margin-top: 1%;">
    <h2 style="color:cornsilk; text-align: center;">HOME DEL ALUMNO {{usuario}}</h2>


    <div class="row" style="height: 50%; width: 100%;text-align: center; margin-top: 5%;">

        <div class="col-lg-6 mx-auto" id="derecha" style="margin: 2.5%;width: auto;">
            <a class="btn btn-dark border" routerLink="../materiasCursadas" style="width: 150px; height: 150px;"><img
                    src="assets/icons8-añadir-usuario-masculino-100.png">
                <br><label style="font-size: medium;">Materias Cursadas</label>
            </a>
        </div>

        <div class="col-lg-6 mx-auto" id="izquierda" style="margin: 2.5%;width: auto;">
            <a class="btn btn-dark border" routerLink="../listCorre" style="width: 150px; height: 150px;"><img
                    src="assets/icons8-exam-100.png">
                <br><label style="font-size: medium;">Materias a inscribir</label> </a>

        </div>

        <div class="col-lg-6 mx-auto" id="derecha" style="margin: 2.5%;width: auto;">
            <a class="btn btn-dark border" routerLink="../materiasFinalizadas" style="width:150px; height: 150px;"> <img
                    src="assets/icons8-check-100.png">
                <br> <label style="font-size: medium;">Materias Terminadas</label> </a>

        </div>
        <div class="col-lg-6 mx-auto" id="izquierda" style="margin: 2.5%;width: auto;">
            <a class="btn btn-dark border " (click)="descarga()"
                style="width: 150px; height: 150px;"> <img src="assets/icons8-imprimir-100.png">
                <br> <label style="font-size: medium;">Imprimir notas</label> </a>
        </div>
    </div>

</div>
<h2 style="margin-top: 2%; margin-bottom: 1%; text-align: center; color: white;">Tu progreso de la carrera</h2>
<div class="progress" style="height: 8%; width: 70%; margin-left: 15%; text-align: center; margin-bottom: 2%;">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
        [style.width.%]="porcentaje" aria-valuenow="25" aria-valuemin="1" aria-valuemax="100">
        <h4 style="color:rgb(0, 0, 0);">{{porcentaje | number: '1.1-1'}}%</h4>
    </div>
    <span class="sr-only">{{porcentaje | number: '1.1-1'}}%</span>
</div>

<div id="tablaDescarga" class="center">
    <h1 class="center"> Materias aprobadas de {{usuario}}</h1>
    <table class='table table-dark center'  style="text-align:center;"  >
        <thead>
            <th>Numero Acta</th>
            <th>Materia</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Nota</th>
        </thead>
        <tbody *ngIf="materias.length > 0; else fila">
            <tr *ngFor=" let materia of materias">
                <td>{{materia.nroActa}}</td>
                <td>{{materia.nombreMat}}</td>
                <td>{{materia.fecha}}</td>
                <td>{{materia.tipo}}</td>
                <td>{{materia.notaFinalNum}}</td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="4">No hay materias aprobadas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
</div>


</html>