<html>
    <nav class="navbar navbar-dark bg-dark">
        <form class="form-inline">
            </form> 
            <form class="form-inline">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

              <a class="btn btn-outline-danger bg-danger" style="color: white;" (click)="logOut()">LogOut<span class="sr-only">(current)</span></a>
            </form>    
        </nav>
    <div class="container" style="width: 50%; margin-top: 1%;">
        <h1 style="color:cornsilk; text-align: center;">HOME DEL ADMIN {{usuario}}</h1>

        <div class="row" style="height: 100%;text-align: center; margin-top: 5%;">
               
            <div  class="col-lg-6 mx-auto" id="derecha" style="margin: 2.5%;width: auto;">
                    <a class="btn btn-dark border" routerLink="../abmAlumn" style="width: 200px;"><img src="assets/icons8-añadir-usuario-masculino-100.png"><br><label style="font-size: x-large;">ABM Usuarios</label> </a>


                </div>
               
                <div class="col-lg-6 mx-auto" id="izquierda" style="margin: 2.5%;width: auto;">
                    <a class="btn btn-dark border" routerLink="../abmMateria" style="width: 200px;"><img src="assets/icons8-libros-100.png"> <br><label style="font-size: x-large;">ABM Materias</label> </a>
                    
                </div>
                
                <div class="col-lg-6 mx-auto" id="derecha"style="margin: 2.5%;width: auto;">
                    <a class="btn btn-dark border" routerLink="../reportes" style="width: 200px;"> <img src="assets/icons8-report-100.png">    <br> <label style="font-size: x-large;">Reportes</label> </a>
                
                </div>
                <div class="col-lg-6 mx-auto"id="izquierda" style="margin: 2.5%;width: auto;">
                    <a class="btn btn-dark border" routerLink="../actaCursada" style="width: 200px;"> <img src="assets/icons8-boleta-de-calificaciones-100.png">  <br> <label style="font-size: x-large;">ABM Actas</label>   </a>
                  
                </div>
               
           
        </div>

        
    </div>

<script>$('.modal').on('hidden.bs.modal', function (e) {
    $('.modal').modal('toggle')

  })</script>
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="#myModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <button class="btn btn-success" style="margin-left: 1%;">Enviar</button>

        </div>
      </div>
    </div>


</html>

