<html>
    <h1 style="color:cornsilk; text-align: center;">HOME DEL ADMIN {{usuario}}</h1>
    <div class="container border" style="width: 50%; margin-top: 3%;">
        <div class="row" style="height: 100px; margin-left: 25%;margin-right: 25%;">
                <div  class="col-md-6 mx-auto" style="margin: 5%; text-align: right;">
                    <a class="btn btn-info" routerLink="../abmAlumn" style="width: 200px;">ABM  Alumnos</a>
                </div>
               
                <div class="col-md-6 mx-auto" style="margin: 5%; text-align: left;">
                    <a class="btn btn-info" routerLink="../abmMateria" style="width: 200px;">ABM Materias</a>
                </div>
                
            </div>

            <div class="row" style="height: 100px; margin-left: 25%;margin-right: 25%;">
                <div class="col-md-6 mx-auto" style="margin: 5%; text-align: right;">
                    <a class="btn btn-info" routerLink="/usuarios/web-tp" style="width: 200px;">Listar TP WEB</a>
                </div>
                <div class="col-md-6 mx-auto" style="margin: 5%; text-align: left, ;">
                    <a class="btn btn-info" routerLink="../actaCursada" style="width: 200px;">ABM Actas</a>
                </div>
               
           
        </div>
    </div>
</html>

