<html>

    <nav class="navbar navbar-light" style="margin-right: 60%; opacity: .9;">
        <form class="form-inline">
            <a class="btn btn-outline-dark bg-dark" routerLink="/admin/home" style="font-size:larger; color:#ffffff; border-radius: 15%; margin: 5px;">Volver<span class="sr-only">(current)</span></a>
            <button class="btn btn-outline-dark bg-dark" style="font-size:larger; color:#ffffff; border-radius: 15%; margin: 5px;" type="button" (click)=actaCursada()>Actas Cursadas</button>
            <button class="btn btn-outline-dark bg-dark" style="font-size: larger; color:#ffffff; border-radius: 15%;"  type="button" (click)=actaFinal()>Actas Finales</button>
        </form>
      </nav>

    <div *ngIf="flag_cursada" class="row" style="text-align: center; color: white;width: 100%;margin-top: 1%">

        <br>
        <div class="column" id="demo" style="width:30%">
            <h1>Agregar acta de cursada</h1>
            <form (submit)="onSubmit()">
                <ngx-dropzone (change)="parcearCSV($event)" accept=".csv" style="margin-left: 20%; margin-right: 20%;">
                    <ngx-dropzone-label>Arrastrar CSV aca o Click para Seleccionar</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()">
                        <ngx-dropzone-label>{{file.name}}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <div *ngIf="!load">
                    <br>

                    <button class="btn btn-success" style="margin-left: 1%;">Enviar</button>
                </div>
                <div *ngIf="load">
                    <br>
                    <div id="loader" style="display: block;color: black;">Cargando el acta por favor espere</div>
                    <button class="btn btn-success" style="margin-left: 1%;" disabled>Enviar</button>
                </div>
            </form>
        </div>
        <span class="border-right" style="width: 1%;"></span>
        <div class="column" style="width: 60%; margin-left: 5%;">
            <h1>Lista de actas</h1>
            <table class='table table-dark'>
                <thead>
                    <th>Numero de acta</th>
                    <th>Materia</th>
                    <th>Curso</th>
                    <th>Cuatrimestre</th>
                    <th>Fecha</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody *ngIf="actasListCursada.length > 0; else fila">
                    <tr *ngFor=" let actaList of actasListCursada">
                        <td>{{actaList.nroActa}}</td>
                        <td>{{actaList.nombreMat}}</td>
                        <td>{{actaList.curso}}</td>
                        <td>{{actaList.cuatrimestre}}</td>
                        <td>{{actaList.fecha | date :'shortDate'}}</td>
                        <td><a class="btn btn-success" style="margin:2%" [routerLink]="['./verActa', actaList.tipo,actaList.nroActa]">Ver<span
                            class="sr-only">(current)</span></a> </td>
                <td><a class="btn btn-danger" style="margin:2%" (click)="eliminarActa(actaList)">Eliminar</a></td>
                    </tr>
                </tbody>
                <ng-template #fila>
                    <tbody>
                        <tr>
                            <td colspan="4">No hay actas disponibles</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>
    <!--  SWITCH VIEWS-->

    <div *ngIf="flag_final" class="row" style="text-align: center; color: white;width: 100%;margin-top: 1%">
        <br>
        <div class="column" id="demo" style="width:30%;">
            <h1>Agregar acta de final</h1>
            <form (submit)="onSubmit()">
                <ngx-dropzone (change)="parcearCSV($event)" accept=".csv" style="margin-left: 20%; margin-right: 20%;">
                    <ngx-dropzone-label>Arrastrar CSV aca o Click para Seleccionar</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()">
                        <ngx-dropzone-label>{{file.name}}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <div *ngIf="!load">
                    <br>

                    <button class="btn btn-success" style="margin-left: 1%;">Enviar</button>
                </div>
                <div *ngIf="load">
                    <br>
                    <div id="loader" style="display: block;color: black;">Cargando el acta por favor espere</div>
                    <button class="btn btn-success" style="margin-left: 1%;" disabled>Enviar</button>
                </div>
            </form>
        </div>
        <span class="border-right border-color:black" style="width: 1%;"></span>
        <div class="column" style="width:60%;margin-left: 5%;">
            <h1>Lista de actas</h1>
            <table class='table table-dark'>
                <thead>
                    <th>Numero de acta</th>
                    <th>Materia</th>
                    <th>Curso</th>
                    <th>Cuatrimestre</th>
                    <th>Fecha</th>
                    <th></th>
                    <th></th>


                </thead>
                <tbody *ngIf="actasListFinal.length > 0; else fila">
                    <tr *ngFor=" let actaList of actasListFinal">
                        <td>{{actaList.nroActa}}</td>
                        <td>{{actaList.nombreMat}}</td>
                        <td>{{actaList.curso}}</td>
                        <td>{{actaList.cuatrimestre}}</td>
                        <td>{{actaList.fecha}}</td>
                        <td><a class="btn btn-success" style="margin:2%" [routerLink]="['./verActa', actaList.tipo,actaList.nroActa]">Ver<span
                            class="sr-only">(current)</span></a></td>
                            <td> <a class="btn btn-danger" style="margin:2%" (click)="eliminarActa(actaList)">Eliminar</a></td>
                    </tr>
                </tbody>
                <ng-template #fila>
                    <tbody>
                        <tr>
                            <td colspan="4">No hay actas disponibles</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>


</html>