<div class="main">
    <div class="container" style="text-align: center; color: white;">
        <br>
        <table class='table table-dark'>
            <thead>
                <th>Numero de acta</th>
                <th>ID de Materia</th>
                <th>Curso</th>
                <th>Cuatrimestre</th>
                <th>Ver</th>
            </thead>
            <tbody *ngIf="actasList.length > 0; else fila">
                <tr *ngFor=" let actaList of actasList">
                    <td>{{actaList.nroActa}}</td>
                    <td>{{actaList.idMat}}</td>
                    <td>{{actaList.curso}}</td>
                    <td>{{actaList.cuatrimestre}}</td>
                    <td><a class="btn btn-success" [routerLink]="['./verActa', actaList.nroActa]">Ver<span class="sr-only">(current)</span></a></td>
                </tr>
            </tbody>
            <ng-template #fila>
                <tbody>
                    <tr>
                        <td colspan="4">No hay actas disponibles</td>
                    </tr>
                </tbody>
            </ng-template>
        </table>

        <form (submit)="onSubmit()">
            <ngx-dropzone (change)="parcearCSV($event)" accept=".csv" style="width: 30%; margin-left: 35%; margin-right: 35%;">
                <ngx-dropzone-label>Arrastrar CSV aca o Click para Seleccionar</ngx-dropzone-label>
                <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()">
                    <ngx-dropzone-label>{{file.name}}</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
            <button class="btn btn-success" style="margin-left: 1%;">Enviar</button>
        </form>

    </div>
    <div style="left:0%"> 
        <br>
        <a class="btn btn-dark" routerLink="/admin/home">Volver<span class="sr-only">(current)</span></a>
    </div>
</div>