<html>
<div class="main">

    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="navbar-brand" (click)=actaCursada()>Actas Cursadas<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)=actaFinal()>Actas Finales<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div *ngIf="flag_cursada" class="row" style="text-align: center; color: white;width: 100%;margin-top: 1%">
        <br>
        <div class="column" id="demo" style="width:30%">
            <h1>Agregar acta de cursada</h1>
            <form (submit)="onSubmit()">
                <ngx-dropzone (change)="parcearCSV($event)" accept=".csv" style="margin-left: 20%; margin-right: 20%;">
                    <ngx-dropzone-label>Arrastrar CSV aca o Click para Seleccionar</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()">
                        <ngx-dropzone-label>{{file.name}}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <div *ngIf="!load">
                    <br>

                    <button class="btn btn-success" style="margin-left: 1%;">Enviar</button>
                </div>
                <div *ngIf="load">
                    <br>
                    <div id="loader" style="display: block;color: black;">Cargando el acta por favor espere</div>
                    <button class="btn btn-success" style="margin-left: 1%;" disabled>Enviar</button>
                </div>
            </form>
        </div>
        <div class="column" style="width:70%;;">
            <h1>Lista de actas</h1>
            <table class='table table-dark'>
                <thead>
                    <th>Numero de acta</th>
                    <th>ID de Materia</th>
                    <th>Curso</th>
                    <th>Cuatrimestre</th>
                </thead>
                <tbody *ngIf="actasList.length > 0; else fila">
                    <tr *ngFor=" let actaList of actasList">
                        <td>{{actaList.nroActa}}</td>
                        <td>{{actaList.idMat}}</td>
                        <td>{{actaList.curso}}</td>
                        <td>{{actaList.cuatrimestre}}</td>
                        <td><a class="btn btn-success" [routerLink]="['./verActa', actaList.nroActa]">Ver<span
                                    class="sr-only">(current)</span></a></td>
                    </tr>
                </tbody>
                <ng-template #fila>
                    <tbody>
                        <tr>
                            <td colspan="4">No hay actas disponibles</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>
    <!--  SWITCH VIEWS-->

    <div *ngIf="flag_final" class="row" style="text-align: center; color: white;width: 100%;margin-top: 1%">
        <br>
        <div class="column" id="demo" style="width:30%">
            <h1>Agregar acta de final</h1>
            <form (submit)="onSubmit()">
                <ngx-dropzone (change)="parcearCSV($event)" accept=".csv" style="margin-left: 20%; margin-right: 20%;">
                    <ngx-dropzone-label>Arrastrar CSV aca o Click para Seleccionar</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()">
                        <ngx-dropzone-label>{{file.name}}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <div *ngIf="!load">
                    <br>

                    <button class="btn btn-success" style="margin-left: 1%;">Enviar</button>
                </div>
                <div *ngIf="load">
                    <br>
                    <div id="loader" style="display: block;color: black;">Cargando el acta por favor espere</div>
                    <button class="btn btn-success" style="margin-left: 1%;" disabled>Enviar</button>
                </div>
            </form>
        </div>
        <div class="column" style="width:70%;;">
            <h1>Lista de actas</h1>
            <table class='table table-dark'>
                <thead>
                    <th>Numero de acta</th>
                    <th>ID de Materia</th>
                    <th>Curso</th>
                    <th>Cuatrimestre</th>
                </thead>
                <tbody *ngIf="actasList.length > 0; else fila">
                    <tr *ngFor=" let actaList of actasList">
                        <td>{{actaList.nroActa}}</td>
                        <td>{{actaList.idMat}}</td>
                        <td>{{actaList.curso}}</td>
                        <td>{{actaList.cuatrimestre}}</td>
                        <td><a class="btn btn-success" [routerLink]="['./verActa', actaList.nroActa]">Ver<span
                                    class="sr-only">(current)</span></a></td>
                    </tr>
                </tbody>
                <ng-template #fila>
                    <tbody>
                        <tr>
                            <td colspan="4">No hay actas disponibles</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>


</div>